/* Shared styles */
.font-style-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-width: 1600px;
}

/* Particular styles */
#nav {
    margin: 0 auto;
    padding: 0 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    background-color: #FFFFFF;
}

#nav .nav-logo{
    height: 60px;
    width: 139px;
}

#nav .nav-container ul {
    display: flex;
    gap: 32px;
    list-style: none;
    font-size: 16px;
}

#nav .nav-container a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    line-height: 152%;
}

.nav-button {
    padding: 12.5px 16px;
    background-color: #469165;
    border: none;
    border-radius: 4px;
}

#nav .nav-button a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
}

