/* Shared styles */
.font-style-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1528px;
}

/* Particular styles */
#nav {
    margin: 0 auto;
    padding: 0 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    vertical-align;
    height: 120px;
    background-color: #FFFFFF;
}

#nav .nav-logo {
    height: 60px;
    width: 139px;
}

#nav .nav-container ul {
    display: flex;
    gap: 32px;
    list-style: none;
    font-size: 16px;
}

#nav .nav-container a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    line-height: 152%;
}

.nav-button {
    padding: 12.5px 16px;
    background-color: #469165;
    border: none;
    border-radius: 4px;
}

#nav .nav-button a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
}

/* Banner Design */

header {
    margin: 0 auto;
    width: 1528px;
}

#hero-banner {
    margin: 0 auto;
    height: 674px;
    width: 1528px;
    background-image: url(../assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 115px;
    position: relative;
}


#hero-banner .hero-content {
    width: 1360px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    text-align: center;
}

#hero-banner .hero-content h3 {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    font-size: 16px;
    font-weight: 500;
    color: #469165;
    padding: 8px 12px;
    background-color: #FFFFFF;
    border-radius: 50px;
}

#icon-circle img {
    display: block;
}

#hero-banner .hero-content .hero-heading {
    margin-top: 16px;
    font-size: 72px;
    color: #FFFFFF;
    font-weight: 700;
    line-height: 84px;
}

.hero-heading-green {
    color: #30B868;
}

#hero-banner .hero-content p {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: 400;
    line-height: 28px;
    max-width: 700px;
}

#hero-banner .hero-content .hero-button {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;

}

#hero-banner .hero-content button {
    padding: 12.5px 16px;
    border-radius: 4px;
    border: none;
    background: none;
}

#hero-banner .hero-content button a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    gap: 10px;
}

#hero-banner .hero-content .hero-btn1 {
    background-color: #469165;
}

#hero-banner .hero-content .hero-btn1 a {
    color: #FFFFFF;
}

#hero-banner .hero-content .hero-btn1 img {
    display: block;
    height: 20px;
    width: 20px;
}

#hero-banner .hero-content .hero-btn2 {
    border: 1px solid white;
    background-color: rgba(255, 255, 255, 0);
}

#hero-banner .hero-content .hero-btn2 a {
    color: white;
}

/* Notes Section */

#notes{
    margin: 0 auto;
    text-align: center;
    width: 1360px;
}

#notes .notes-header h2{
    font-size: 48px;
    font-weight: 700;
    color: #001931;
    padding-top: 50px;
}

#notes .notes-header p{
    font-size: 16px;
    font-weight: 400;
    color: #627382;
    margin-bottom: 45px;
}

#notes .notes-card-container{
    display: flex;
    gap: 24px;
    justify-content: center;
}

#notes .notes-card-container .card{
    height: 300px;
    width: 300px;
    padding: 60px 24px;
    border-radius: 8px;
    box-shadow:0 0 8px 0 #0000001a;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

}

#notes .notes-card-container .card img{
    background-color: #F95555;
    border-radius: 50%;
    padding: 14px;
    height: 60px;
    width: 60px;

}

#notes .notes-card-container .card h3{
    color: #001931;
    font-size: 24px;
    font-weight: 600;
}
#notes .notes-card-container .card p{
    color: #627382;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}